<%- include('./include/header_user') -%>

<div class="login">
  <div class="login-triangle"></div>
  <h2 class="login-header">DashBoard</h2>

  <div class="login-container">
  <h3>WELCOME TO THE HOME PAGE</h3>
  <button class="logoutbtn"><a href="/logout">Logout</a></button>
  </div>
</div>


<%- include('./include/footer_user') -%>