<%- include('./include/admin_header') -%>

<div class="login">
  <div class="login-triangle"></div>
  <h2 class="login-header">DashBoard</h2>

  <div class="login-container">
  <h3>WELCOME TO THE ADMIN PAGE</h3>
  <button class="logoutbtn"><a href="/logoutadmin">Logout</a></button>
  <a href="/user_details">Show Users</a>
  </div>
</div>

<%- include('./include/admin_footer') -%>